
client/lit
client/service-worker.js
docs/**/*.aux
docs/**/*.fdb_latexmk
docs/**/*.fls
docs/**/*.out
docs/**/*.synctex.gz
docs/**/*.toc
docs/**/*.log
docs/**/*.pdf
docs/**/*.vscodeLog
docs/version.inc
node_modules
coverage
.DS_Store
npm-debug.log
recordings
keys
.vscode/launch.json

